body, h1, h2, h3, h4, h5, p, ul, ol {
    margin: 0;
    padding: 0;
}

/* Define a fonte padrão e o estilo de fundo */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #221313;
    line-height: 1.6;
}

h2 {
    border: solid 3px #000000;
    border-color: snow #000000;
    font-family: sans-serif;
    text-align:left;
    background-color: rgb(36, 160, 197);
    color: rgb(255, 255, 255);
    padding: 20px;
    margin-bottom: 20px;
}

nav {
    font-family: sans-serif;
    text-align: center;
    background-color: rgb(36, 160, 197);
    padding: 10px 0;
}

nav a {
    color: black;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

h4 {
    color: rgb(36, 160, 197);
    margin-bottom: 10px;
}

ul, ol {
    margin: 20px 0;
}

ul li, ol li {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgb(36, 160, 197);
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}
